.app{
    display: flex;
    justify-content: center;
}

.first-container{
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 10em;
    border: solid black;
    width: 20rem;
}

.players-input-container{
    border: 1px solid grey;
    border-style: dashed;
    padding: 10px;
    margin: 10px 0px;
}

.players-input-container input{
    height: 50px;
    width: 50px;
    font-size: 35px;
    appearance: none;
}

.start-button button{
    margin: 40px;

}
.buttons div{
    display: flex;
}


.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #ff5aff 0, #ff0022 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #e03c3c 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #e03c3c 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #e03c3c 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #e03c3c 0 3px 7px inset;
  transform: translateY(2px);
}