.go-home img{
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 100%;
}

.go-home img:hover{
    background-color: white;
    width: 55px;
    height: 55px;
}

footer{
    margin-top: 100px;
}